Source: status-menu-applet-profiles
Section: libs
Priority: optional
Maintainer: Merlijn Wajer <merlijn@wizzup.org>
Build-Depends: debhelper (>= 10), pkg-config, libhildon1-dev, libhildondesktop1-dev (>= 2.2.1), libprofile-dev, profile-data-dev, libdbus-glib-1-dev, osso-af-settings
Standards-Version: 3.9.3

Package: status-menu-applet-profiles
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, profiled (>= 0.0.3), profile-data (>= 0.0.2), libhildondesktop1, osso-profiles-l10n-mr | osso-profiles-l10n-mr0
Description: Profiles status menu plugin
 This package contains the status menu plugin for switching profiles
